<a href="https://colab.research.google.com/github/TAEWOOYOON/SkillTreePython-DataAnalysis/blob/main/San_Francisco_Crime_%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%9D%98%EB%A2%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**San Francisco Crime 데이터 전처리 의뢰**

01. csv 파일을 데이터프레임으로 읽기
02. 학습 데이터 셋의 상위 5개 항목 출력
03. 학습 데이터 셋의 각 필드 데이터 분포(평균, 최소값, 최대값 등)를 살펴보기
04. 각 컬럼의 데이터 타입 확인하기
05. 범죄의 범주 'Category'는 어떤 값이 있는지 확인하기
데이터 전처리
06. Dates 필드의 데이터타입을 'datetime64' 타입으로 변경하기
07. 연, 월, 일, 요일, 시, 분값을 새로운 컬럼(year, month, day, dayofweek, hour, minute)을 생성해서 할당하기
08. 범죄가 발생한 경도, 위도 값을 나타내는 X, Y 컬럼의 값을 더한 값을 담은 'X+Y' 컬럼, X, Y의 차이 값을 담은 'X-Y' 컬럼을 생성하기
09. n_days라는 컬럼을 생성하고, 일별 d-day를 계산하여 입력하기
예: 범죄 첫발생일: 0, 다음 발생일: 1

10. 변수 y를 선언해서 학습할 목표변수(=종속변수)인 Category 필드값을 담기
11. 연도별(year) 범죄 발생 횟수를 알아보기
* value_counts를 사용하는 방법
* groupby를 사용하는 방법

12. 월별(month) 범죄 발생 횟수를 알아보기
13. 요일별(DayOfWeek) 범죄 발생 횟수를 알아보기
14. 카테고리별(Category) 범죄 발생 횟수를 알아보기
15. null값이 포함된 데이터 필드가 있는지 확인하기
16. 'Dates','Category','Descript','DayOfWeek','Resolution' 컬럼 삭제하기

In [ ]:
# 구글 드라이브 마운트

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/딥러닝 프레임워크 실무/SkillTreePython-DataAnalysis-main/01.데이터분석기초/타이타닉,샌프란시스코,킥보드 시험/sf_train.csv')

In [ ]:
# 상위 5개 항목 출력

train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [ ]:
# 학습 데이터 셋의 각 필드 데이터 분포

train.describe()

                   X              Y
count  878049.000000  878049.000000
mean     -122.422616      37.771020
std         0.030354       0.456893
min      -122.513642      37.707879
25%      -122.432952      37.752427
50%      -122.416420      37.775421
75%      -122.406959      37.784369
max      -120.500000      90.000000

In [ ]:
# 각 컬럼의 데이터 타입 확인하기

train.dtypes

Dates          object
Category       object
Descript       object
DayOfWeek      object
PdDistrict     object
Resolution     object
Address        object
X             float64
Y             float64
dtype: object

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Dates       878049 non-null  object
 1   Category    878049 non-null  object
 2   Descript    878049 non-null  object
 3   DayOfWeek   878049 non-null  object
 4   PdDistrict  878049 non-null  object
 5   Resolution  878049 non-null  object
 6   Address     878049 non-null  object
 7   X           878049 non-null  float64
 8   Y           878049 non-null  float64
dtypes: float64(2), object(7)
memory usage: 60.3+ MB

.info()로 dtypes 에서는 알수 없던 컬럼별 데이터량을 알 수 있다.

인덱스와 데이터량, 타입을 확인 할 수 있음.

In [ ]:
# 범죄의 범주 'Category'는 어떤 값이 있는지 확인하기 데이터 전처리

train['Category'].unique()

array(['WARRANTS', 'OTHER OFFENSES', 'LARCENY/THEFT', 'VEHICLE THEFT',
       'VANDALISM', 'NON-CRIMINAL', 'ROBBERY', 'ASSAULT', 'WEAPON LAWS',
       'BURGLARY', 'SUSPICIOUS OCC', 'DRUNKENNESS',
       'FORGERY/COUNTERFEITING', 'DRUG/NARCOTIC', 'STOLEN PROPERTY',
       'SECONDARY CODES', 'TRESPASS', 'MISSING PERSON', 'FRAUD',
       'KIDNAPPING', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
       'SEX OFFENSES FORCIBLE', 'PROSTITUTION', 'DISORDERLY CONDUCT',
       'ARSON', 'FAMILY OFFENSES', 'LIQUOR LAWS', 'BRIBERY',
       'EMBEZZLEMENT', 'SUICIDE', 'LOITERING',
       'SEX OFFENSES NON FORCIBLE', 'EXTORTION', 'GAMBLING', 'BAD CHECKS',
       'TREA', 'RECOVERED VEHICLE', 'PORNOGRAPHY/OBSCENE MAT'],
      dtype=object)

.unique() 로 컬럼내의 어떤 데이터 값들이 있는지 확인 가능. 

중복되는것 없이 어떤 종류들이 있는지 보여줌.

In [ ]:
# Dates 필드의 데이터타입을 'datetime64' 타입으로 변경하기

print(train['Dates'].head())
train['Dates'] = train['Dates'].astype('datetime64')
print(train['Dates'].head())

0    2015-05-13 23:53:00
1    2015-05-13 23:53:00
2    2015-05-13 23:33:00
3    2015-05-13 23:30:00
4    2015-05-13 23:30:00
Name: Dates, dtype: object
0   2015-05-13 23:53:00
1   2015-05-13 23:53:00
2   2015-05-13 23:33:00
3   2015-05-13 23:30:00
4   2015-05-13 23:30:00
Name: Dates, dtype: datetime64[ns]

astype('') ''의 타입으로 타입을 변경한다. 
datetime64는 판다스에서 제공하는 일자시간타입이다.
시간과 일자 등을 처리하는데 2015-05-13 23:30:00 와 같은 형식으로 나온다.

In [ ]:
# 연, 월, 일, 요일, 시, 분값을 새로운 컬럼(year, month, day, dayofweek, hour, minute)을 생성해서 할당

train['year'] = train['Dates'].dt.year
train['month'] = train['Dates'].dt.month
train['day'] = train['Dates'].dt.day
train['dayofweek'] = train['Dates'].dt.dayofweek
train['hour'] = train['Dates'].dt.hour
train['minute'] = train['Dates'].dt.minute

train['new_column'] =  x 새로운 컬럼 'new_columns'를 생성하고 x의 값들을 데이터로 넣는다. 이때 x는 기존 데이터의 길이(행)에 맞는 길이를 갖고 있어야 한다.

dt.day, dt.year 등은 파이썬 자체의 datetime 모듈을 사용하는 것으로 dt.원하는것
을 쓰면 된다.

In [ ]:
# 범죄가 발생한 경도, 위도 값을 나타내는 X, Y 컬럼의 값을 더한 값을 담은 'X+Y' 컬럼, X, Y의 차이 값을 담은 'X-Y' 컬럼을 생성

train['X+Y'] = train['X'] + train['Y']   # 각 컬럼들끼리의 합,차를 하면 컬럼 내 데이터들의 합과 차의 결과가 나온다. (브로드캐스트 가능)
train['X-Y'] = train['X'] - train['Y']
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,year,month,day,dayofweek,hour,minute,X+Y,X-Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,2,23,53,-84.651293,-160.200490
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,2,23,53,-84.651293,-160.200490
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,13,2,23,33,-84.623949,-160.224777
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,2015,5,13,2,23,30,-84.626123,-160.227868
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,2015,5,13,2,23,30,-84.667196,-160.210279

In [ ]:
 # n_days라는 컬럼을 생성하고, 일별 d-day를 계산하여 입력

train['n_days'] = (train['Dates'].dt.date - train['Dates'].dt.date.min()).apply(lambda x: x.days)  # 날 - 가장 적은 날을 해서 일 형태로 표시.
train['n_days'].head()

0    4510
1    4510
2    4510
3    4510
4    4510
Name: n_days, dtype: int64

DataFrame에서는 map()대신에 .apply()함수를 적용할 수 있다..

.apply() 함수는 간단한 경우 lambda() 함수를 적용할 수 있으며, 복잡한 경우 따로 만든 함수(def)를 적용할 수도 있다.

In [ ]:
# 변수 y를 선언해서 Category 필드값을 담기

y = train['Category']

In [ ]:
# 연도별(year) 범죄 발생 횟수

train['year'].value_counts().sort_index()  # 연도별 범죄 횟수를 values.counts()로 확인, 연도 오름차순 정렬로 보기 편하게 함.

2003    73902
2004    73422
2005    70779
2006    69909
2007    68015
2008    70174
2009    69000
2010    66542
2011    66619
2012    71731
2013    75606
2014    74766
2015    27584
Name: year, dtype: int64

.sort가 원래 오름차순 정렬이었고,
.sort_index 를 통해 인덱스를(여기에서는 연도) 오름차순 정리.

In [ ]:
# 월별(month) 범죄 발생 횟수

train['month'].value_counts().sort_index()

1     73536
2     70813
3     76320
4     78096
5     79644
6     70892
7     69971
8     68540
9     71982
10    80274
11    72975
12    65006
Name: month, dtype: int64

In [ ]:
# 요일별(DayOfWeek) 범죄 발생 횟수

train['DayOfWeek'].value_counts().sort_index()

Friday       133734
Monday       121584
Saturday     126810
Sunday       116707
Thursday     125038
Tuesday      124965
Wednesday    129211
Name: DayOfWeek, dtype: int64

In [ ]:
# 카테고리별(Category) 범죄 발생 횟수를 알아보기

train['Category'].value_counts()

LARCENY/THEFT                  174900
OTHER OFFENSES                 126182
NON-CRIMINAL                    92304
ASSAULT                         76876
DRUG/NARCOTIC                   53971
VEHICLE THEFT                   53781
VANDALISM                       44725
WARRANTS                        42214
BURGLARY                        36755
SUSPICIOUS OCC                  31414
MISSING PERSON                  25989
ROBBERY                         23000
FRAUD                           16679
FORGERY/COUNTERFEITING          10609
SECONDARY CODES                  9985
WEAPON LAWS                      8555
PROSTITUTION                     7484
TRESPASS                         7326
STOLEN PROPERTY                  4540
SEX OFFENSES FORCIBLE            4388
DISORDERLY CONDUCT               4320
DRUNKENNESS                      4280
RECOVERED VEHICLE                3138
KIDNAPPING                       2341
DRIVING UNDER THE INFLUENCE      2268
RUNAWAY                          1946
LIQUOR LAWS                      1903
ARSON                            1513
LOITERING                        1225
EMBEZZLEMENT                     1166
SUICIDE                           508
FAMILY OFFENSES                   491
BAD CHECKS                        406
BRIBERY                           289
EXTORTION                         256
SEX OFFENSES NON FORCIBLE         148
GAMBLING                          146
PORNOGRAPHY/OBSCENE MAT            22
TREA                                6
Name: Category, dtype: int64

In [ ]:
# null값이 포함된 데이터 필드가 있는지 확인하기

train.isnull().any().sum()   # isnull을 통해 결측값이 있는지 확인하고, any로 결측값이 없으면 false 이므로 sum으로 더해본다

0

any()는 값들중 하나라도 True 면 True를 출력하고 모두 False 여야 False를 출력한다. isnull을 통해 결측값이 있는게 있다면 any가 True가 나왔을것이고 없었으므로 sum 값이 0이 나온다.

In [ ]:
# 'Dates','Category','Descript','DayOfWeek','Resolution' 컬럼 삭제

train = train.drop(['Dates','Category','Descript','DayOfWeek','Resolution'], axis=1)

.drop()은 원하는 행 또는 열을 삭제 할 수 있는데 .drop(' ', axis = )를 통해 axis 값을 정하면 열인지 행인지 정하고 지울수 있다.
.drop(['columns1','columns2','columns3'......])  이런식으로 drop하고 () 안에
[ ] 기입 후 원하는 컬럼을 입력해 지운다.

# 연도, 월, 일 별 범죄 발생 빈도를 파악할 수 있고 이를 통해 특정 행사나 기간에 범죄 발생 빈도 증가에 유효한 원인이 있다면 그 기간, 시기에 보안과 단속을 강화하는 등 조치를 취할 수 있다.

# 범죄 유형별 발생 빈도를 알 수 있고 빈도가 잦은 범죄에 대해서는 미리 대응책을 내놓을수 있다.