<a href="https://colab.research.google.com/github/TAEWOOYOON/SkillTreePython-DataAnalysis/blob/main/Titanic_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%9D%98%EB%A2%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Titanic 데이터 전처리

In [ ]:
import pandas as pd

01. csv 파일을 데이터프레임으로 로드하기

02. 로드한 데이터 셋에 결측치가 있는지 확인하기

03. 학습 데이터 셋의 상위 5개 항목 출력

04. 학습 데이터 셋의 각 필드 데이터 분포(평균, 최소값, 최대값 등)를 살펴보기

05. 각 컬럼의 데이터 타입 확인하기

06. 'Cabin', 'Embarked'필드에는 어떤 값이 있는지 확인하기

07. 생존한 사람, 사망한 사람의 수 확인하기

08. 각 클래스('Pclass')별 탑승객 분포 확인하기

09. 성('Sex')별 탑승객 분표 확인하기

11. 'Embarked' 필드의 결측치는 값이 가장 많은 'S'로 할당하기

12. 'Age' 필드의 결측치는 값이 중간값으로 할당하기

13. 'Name'필드에서 신분을 나타내는 단어를 뽑아서 'Title' 필드에 할당하기

14. 'Title' 필드의 카테고리를 6개의 항목으로 변경하기

16. 변수 y를 선언해서 학습할 목표변수(=종속변수)인 'Survived'필드값을 담기

17. 나이('Age') 필드를 그룹핑하여 'AgeGroup'필드 생성하여 할당하기

In [ ]:
# 구글 드라이브 마운트

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# csv 파일 데이터프레임으로 로드

train = pd.read_csv('/content/drive/MyDrive/딥러닝 프레임워크 실무/SkillTreePython-DataAnalysis-main/01.데이터분석기초/타이타닉,샌프란시스코,킥보드 시험/test.csv')
train.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

.isnull() 은 결측값을 불 값으로 나타냄.
결축값이 있으면 1 이므로 .sum()으로 모든 값을 합하면 그 값이 결측값의 수

In [ ]:
train.head()  # train.head(n) 은 train의 가장 위에서 n번째 값까지 나타냄.

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
# 각 컬럼들의 데이터 분포 확인

train.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

.describe() 는 각 컬럼들의 모든 데이터의 평균, 최댓값, 최솟값, 아래에서 50,20,75퍼센트에 있는 값, 표준편차 등을 나타냄.

In [ ]:
# 각 컬럼들 데이터의 타입 확인

train.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

.dtypes는 데이터들의 타입을 보여줌
.info도 비슷하나 좀 더 자세하게
인덱스와 데이터 량이 추가로 확인됨

In [ ]:
# Cabin 과 Embarked 에 어떤 데이터들이 있는지 확인

train.Cabin.unique()
train.Embarked.unique()

array(['Q', 'S', 'C'], dtype=object)

.loc[] 는 명시적 인덱싱, 슬라이싱을 할때 사용하고 .loc[,] 의 , 을 기준으로

 행,열(컬럼)의 인덱스를 나타냄.

In [ ]:
# 생존자와 사망자 수 도출

생존자 = train['Survived'].sum()     # 생존자가 1, 사망자가 0 이므로 Survive의 모든 값의 합은 생존자 수
사망자 = len(train)-생존자
print(f'생존자 = {생존자}, 사망자 = {사망자}')
# 생존 = 342, 사망 = 891-342 = 549

In [ ]:
# Pclass의 클래스별 승객 분포 확인

mask3 = train['Pclass'] == 3
class_3 = len(train[mask3])  # class3 승객 수

mask2 = train['Pclass'] == 2
class_2 = len(train[mask2])  # class2 승객 수

mask1 = train['Pclass'] == 1
class_1 = len(train[mask1])   # class1 승객 수
print(f'class_1 = {class_1}, class_2 = {class_2}, class_3 = {class_3}')

마스킹을 사용했고 이는 불리언 인덱싱과 비슷함. 원하는 조건에 맞는 값을 출력 할 수 있음.

In [ ]:
# 성(sex) 별로 탑승객 수

train['Sex'].value_counts()

.value 는 컬럼의 데이터값들을 볼 수 있고, _counts()는 그 데이터들의 종류별로 갯수를 카운팅함.

In [ ]:
# Embarked 의 결측치는 값이 가장 많은 'S'로 할당하기

print(train['Embarked'].isnull().sum())
train['Embarked'] = train['Embarked'].fillna('S')  # fillna() 를 통해 결측치 값을 채움.

fillna('x') NaN(결측치) 값을 괄호안의 x로 채워줌.

In [ ]:
# Age의 결측치를 값들의 중간값으로 할당하기

train['Age'].describe()['50%']   # Age의 중간값 도출
train['Age'] = train['Age'].fillna(28.0)  # Age 값의 결측치를 중간값인 28.0으로 할당.

In [ ]:
train['Title'] = train['Name'].str.extract('([A-Za-z]+)\.', expand=False)

.str은 데이터 내의 문자열들을 다룰 수 있게 해줌.

str.extract('x') 는 문자열에서 'x' 가 포함된 문자를 추출함.

str.extract('([A-Za-z]+)\.') 에서 [A-Za-z] 는 영어단어가 포함된 문자 추출을 나타내고 [A-Za-z]+)\. 영어단어 이후에 .을 포함한, 즉 abcd. 인 단어를 추출함. 여기서 \는 .을 그대로 사용하려고 이스케이프 문자로 사용한것. 

expand = True 에서 True는 나눈 문자열을 여러개의 컬럼에 저장하고 False는 하나의 컬럼안에 리스트로 저장함.

-> Mr. Ms. 과 같은 단어를 추출하겠다는것.

In [ ]:
#####다른 방법#####

# 'Name'필드에서 신분을 나타내는 단어를 뽑아서 'Title' 필드에 할당하기

a = train['Name'].str.split(',', expand = True)    # Name의 데이터가 성,신분. 이름 형식이므로 일단 ',' 로 나눈다
title = a.loc[:,1]      # 성과 이름으로 나눈 뒤 이름들만 따로 바인딩.
title = title.str.split('.', expand = True)[0]     # 신분. 이름을  '.' 을 기준으로 나누고, 신분만 따로 바인딩.
train['Title'] = title   # 새 컬럼인 Title에 넣는다.

In [ ]:
# 'Title' 필드의 카테고리를 6개의 항목으로 변경하기

train['Title'] = train['Title'].replace(['Capt', 'Col', 'Major', 'Dr', 'Rev'], 'Officer')  #Title 안에 있는 신분들을 각자 특성에 맞게 6개로 바꿔 저장.
train['Title'] = train['Title'].replace(['Jonkheer', 'Master'], 'Master')
train['Title'] = train['Title'].replace(['Don', 'Sir', 'the Countess', 'Lady'], 'Royalty')
train['Title'] = train['Title'].replace(['Mme', 'Ms', 'Mrs'], 'Mrs')
train['Title'] = train['Title'].replace(['Mlle', 'Miss'], 'Miss')
train['Title'] = train['Title'].replace(['Mr'], 'Mr')


.replace('a', 'b')는 컬럼 내 a 를 b로 대체한다는 뜻.
이 때 'a' 자리에 여러 값들을 넣고 싶다면 [ ] 를 사용한다.

In [ ]:
# 변수 y를 선언해서 'Survived'필드값을 담기

y = train['Survived']

In [ ]:
# 나이('Age') 필드를 그룹핑하여 'AgeGroup'필드 생성하여 할당하기

bin = [0, 18, 25, 35, 60, 100]
group_names = ['Baby', 'Youth', 'YoungAdult', 'MiddleAged', 'Senior']
train['AgeGroup'] = pd.cut(train['Age'], bins=bin, labels=group_names)
train['AgeGroup'].value_counts()

pd.cut(train['Age'], bins= a, labels= b) 는 범주를 나눠 그룹핑을 할 수 있게 해줌. 
bins 범위의 숫자를 labels로 범주를 나눔. bins가 [0, 18, 25, 35, 60, 100]이면,
 
 
 0~18 labels[0] 그룹,  18~25까지 labels[1] 그룹임.

# 위의 데이터 전처리로 사망자,생존자들의 신분, 나이 등을 항목별 카테고리로 좀 더 간편하고 직관적으로 확인 할 수 있다.

#확인한 결과로 많은 사망자들이 공통적으로 들어 있는 특징들을 파악하여 사망률이 높은사람을 추려내고 미리 대응할 수 있다.